<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OlopdproductMapper">


	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into "OLO_PD_PRODUCT"(
		<if test="SHORT_TITLE != null and SHORT_TITLE != ''">
			"SHORT_TITLE",
		</if>
		<if test="LABEL != null and LABEL != ''">
			"LABEL",
		</if>
		<if test="SUB_TITLE != null and SUB_TITLE != ''">
			"SUB_TITLE",
		</if>
		<if test="BRAND_NAME != null and BRAND_NAME != ''">
			"BRAND_NAME",
		</if>
		<if test="DIMENSION != null and DIMENSION != ''">
			"DIMENSION",
		</if>
		<if test="CODE != null and CODE != ''">
			"CODE",
		</if>
		<if test="FLOOR_PRICE != null and FLOOR_PRICE != ''">
			"FLOOR_PRICE",
		</if>
		<if test="PRICE != null and PRICE != ''">
			"PRICE",
		</if>
		<if test="COMPANY != null and COMPANY != ''">
			"COMPANY",
		</if>
		<if test="COLOUR != null and COLOUR != ''">
			"COLOUR",
		</if>
		<if test="STORE != null and STORE != ''">
			"STORE",
		</if>
		<if test="CATEGORY != null and CATEGORY != ''">
			"CATEGORY",
		</if>
		<if test="SUGGEST_PRICE != null and SUGGEST_PRICE != ''">
			"SUGGEST_PRICE",
		</if>
		<if test="IMAGE_URL != null and IMAGE_URL != ''">
			"IMAGE_URL",
		</if>
		<if test="STORAGE != null and STORAGE != ''">
			"STORAGE",
		</if>
		<if test="LAST_DATE != null and LAST_DATE != ''">
			"LAST_DATE",
		</if>
		<if test="EFFECTIVE_TIME != null and EFFECTIVE_TIME != ''">
			"EFFECTIVE_TIME",
		</if>
		<if test="SEALED != null and SEALED != ''">
			"SEALED",
		</if>
		<if test="DETAIL != null and DETAIL != ''">
			"DETAIL",
		</if>
		<if test="CREATE_TIME != null and CREATE_TIME != ''">
			"CREATE_TIME",
		</if>
		<if test="CREATION_PEOPLE_ID != null and CREATION_PEOPLE_ID != ''">
			"CREATION_PEOPLE_ID",
		</if>
		<if test="UPDATE_TIME != null and UPDATE_TIME != ''">
			"UPDATE_TIME",
		</if>
		<if test="UPDATE_PEOPLE_ID != null and UPDATE_PEOPLE_ID != ''">
			"UPDATE_PEOPLE_ID",
		</if>
		<if test="SPREAD1 != null and SPREAD1 != ''">
			"SPREAD1",
		</if>
		<if test="SPREAD2 != null and SPREAD2 != ''">
			"SPREAD2",
		</if>
		<if test="SPREAD3 != null and SPREAD3 != ''">
			"SPREAD3",
		</if>
		<if test="SPREAD4 != null and SPREAD4 != ''">
			"SPREAD4",
		</if>
		<if test="SPREAD5 != null and SPREAD5 != ''">
			"SPREAD5",
		</if>
		<if test="TITLE != null and TITLE != ''">
			"TITLE",
		</if>
		<if test="SORTING != null and SORTING != ''">
			"SORTING",
		</if>
		<if test="REMARKS != null and REMARKS != ''">
			"REMARKS",
		</if>
		"GOODS_ID"
		) values (
		<if test="SHORT_TITLE != null and SHORT_TITLE != ''">
			#{SHORT_TITLE},
		</if>
		<if test="LABEL != null and LABEL != ''">
			#{LABEL},
		</if>
		<if test="SUB_TITLE != null and SUB_TITLE != ''">
			#{SUB_TITLE},
		</if>
		<if test="BRAND_NAME != null and BRAND_NAME != ''">
			#{BRAND_NAME},
		</if>
		<if test="DIMENSION != null and DIMENSION != ''">
			#{DIMENSION},
		</if>
		<if test="CODE != null and CODE != ''">
			#{CODE},
		</if>
		<if test="FLOOR_PRICE != null and FLOOR_PRICE != ''">
			#{FLOOR_PRICE},
		</if>
		<if test="PRICE != null and PRICE != ''">
			#{PRICE},
		</if>
		<if test="COMPANY != null and COMPANY != ''">
			#{COMPANY},
		</if>
		<if test="COLOUR != null and COLOUR != ''">
			#{COLOUR},
		</if>
		<if test="STORE != null and STORE != ''">
			#{STORE},
		</if>
		<if test="CATEGORY != null and CATEGORY != ''">
			#{CATEGORY},
		</if>
		<if test="SUGGEST_PRICE != null and SUGGEST_PRICE != ''">
			#{SUGGEST_PRICE},
		</if>
		<if test="IMAGE_URL != null and IMAGE_URL != ''">
			#{IMAGE_URL},
		</if>
		<if test="STORAGE != null and STORAGE != ''">
			#{STORAGE},
		</if>
		<if test="LAST_DATE != null and LAST_DATE != ''">
			#{LAST_DATE,jdbcType=TIMESTAMP},
		</if>
		<if test="EFFECTIVE_TIME != null and EFFECTIVE_TIME != ''">
			#{EFFECTIVE_TIME,jdbcType=TIMESTAMP},
		</if>
		<if test="SEALED != null and SEALED != ''">
			#{SEALED},
		</if>
		<if test="DETAIL != null and DETAIL != ''">
			#{DETAIL},
		</if>
		<if test="CREATE_TIME != null and CREATE_TIME != ''">
			#{CREATE_TIME,jdbcType=TIMESTAMP},
		</if>
		<if test="CREATION_PEOPLE_ID != null and CREATION_PEOPLE_ID != ''">
			#{CREATION_PEOPLE_ID,jdbcType=VARCHAR},
		</if>
		<if test="UPDATE_TIME != null and UPDATE_TIME != ''">
			#{UPDATE_TIME,jdbcType=TIMESTAMP},
		</if>
		<if test="UPDATE_PEOPLE_ID != null and UPDATE_PEOPLE_ID != ''">
			#{UPDATE_PEOPLE_ID ,jdbcType=VARCHAR},
		</if>
		<if test="SPREAD1 != null and SPREAD1 != ''">
			#{SPREAD1,jdbcType=VARCHAR},
		</if>
		<if test="SPREAD2 != null and SPREAD2 != ''">
			#{SPREAD2,jdbcType=VARCHAR},
		</if>
		<if test="SPREAD3 != null and SPREAD3 != ''">
			#{SPREAD3,jdbcType=VARCHAR},
		</if>
		<if test="SPREAD4 != null and SPREAD4 != ''">
			#{SPREAD4,jdbcType=VARCHAR},
		</if>
		<if test="SPREAD5 != null and SPREAD5 != ''">
			#{SPREAD5,jdbcType=VARCHAR},
		</if>
		<if test="TITLE != null and TITLE != ''">
			#{TITLE},
		</if>
		<if test="SORTING != null and SORTING != ''">
			#{SORTING},
		</if>
		<if test="REMARKS != null and REMARKS != ''">
			#{REMARKS},
		</if>
		#{GOODS_ID}
		)
	</insert>

	<insert id="insertByBatch" parameterType="java.util.List"
		useGeneratedKeys="false">
		insert into "OLO_PD_PRODUCT"(
		"SHORT_TITLE",
		"DIMENSION",
		"LABEL",
		"CODE",
		"FLOOR_PRICE",
		"COMPANY",
		"PRICE",
		"COLOUR",
		"CATEGORY",
		"EFFECTIVE_TIME",
		"SEALED",
		"DETAIL",
		"CREATE_TIME",
		"CREATION_PEOPLE_ID",
		"TITLE",
		"SORTING",
		"REMARKS",
		"GOODS_ID"
		)
		<foreach collection="list" item="item" index="index"
			separator="union all">
			( SELECT #{item.SHORT_TITLE},
			#{item.DIMENSION},
			#{item.LABEL},
			#{item.CODE},
			#{item.FLOOR_PRICE},
			#{item.COMPANY},
			#{item.PRICE},
			#{item.COLOUR},
			#{item.CATEGORY},
			#{item.EFFECTIVE_TIME,jdbcType=TIMESTAMP},
			#{item.SEALED},
			#{item.DETAIL},
			#{item.CREATE_TIME,jdbcType=TIMESTAMP},
			#{item.CREATION_PEOPLE_ID,jdbcType=VARCHAR},
			#{item.TITLE},
			#{item.SORTING},
			#{item.REMARKS},
			#{item.GOODS_ID} FROM DUAL)
		</foreach>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from "OLO_PD_PRODUCT"
		where
		"GOODS_ID" = #{GOODS_ID}
	</delete>


	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update "OLO_PD_PRODUCT"
		set
		<if test="SHORT_TITLE != null and SHORT_TITLE != ''">
			"SHORT_TITLE" = #{SHORT_TITLE},
		</if>
			"LABEL" = #{LABEL,jdbcType=VARCHAR},
		<if test="SUB_TITLE != null and SUB_TITLE != ''">
			"SUB_TITLE" = #{SUB_TITLE},
		</if>
		<if test="BRAND_NAME != null and BRAND_NAME != ''">
			"BRAND_NAME" = #{BRAND_NAME},
		</if>
			"DIMENSION" = #{DIMENSION,jdbcType=VARCHAR},
		<if test="CODE != null and CODE != ''">
			"CODE" = #{CODE,jdbcType=VARCHAR},
		</if>
		<if test="FLOOR_PRICE != null and FLOOR_PRICE != ''">
			"FLOOR_PRICE" = #{FLOOR_PRICE},
		</if>
			"PRICE" = #{PRICE},
		<if test="COLOUR != null and COLOUR != ''">
			"COLOUR" = #{COLOUR},
		</if>
		<if test="COMPANY != null and COMPANY != ''">
			"COMPANY" =#{COMPANY},
		</if>
		<if test="STORE != null and STORE != ''">
			"STORE" = #{STORE},
		</if>
		<if test="CATEGORY != null and CATEGORY != ''">
			"CATEGORY" = #{CATEGORY},
		</if>
		<if test="SUGGEST_PRICE != null and SUGGEST_PRICE != ''">
			"SUGGEST_PRICE" = #{SUGGEST_PRICE},
		</if>
		<if test="IMAGE_URL != null and IMAGE_URL != ''">
			"IMAGE_URL" = #{IMAGE_URL},
		</if>
		<if test="STORAGE != null and STORAGE != ''">
			"STORAGE" = #{STORAGE},
		</if>
		<if test="LAST_DATE != null and LAST_DATE != ''">
			"LAST_DATE" = #{LAST_DATE},
		</if>
		<if test="EFFECTIVE_TIME != null and EFFECTIVE_TIME != ''">
			"EFFECTIVE_TIME" = #{EFFECTIVE_TIME},
		</if>
		<if test="SEALED != null and SEALED != ''">
			"SEALED" = #{SEALED},
		</if>
		<if test="DETAIL != null and DETAIL != ''">
			"DETAIL" = #{DETAIL},
		</if>
		<if test="CREATE_TIME != null">
			"CREATE_TIME" = #{CREATE_TIME},
		</if>
		<if test="CREATION_PEOPLE_ID != null">
			"CREATION_PEOPLE_ID" = #{CREATION_PEOPLE_ID},
		</if>
		<if test="UPDATE_TIME != null">
			"UPDATE_TIME" = #{UPDATE_TIME},
		</if>
		<if test="UPDATE_PEOPLE_ID != null">
			"UPDATE_PEOPLE_ID" = #{UPDATE_PEOPLE_ID},
		</if>
		<if test="SPREAD1 != null">
			"SPREAD1" = #{SPREAD1},
		</if>
		<if test="SPREAD2 != null">
			"SPREAD2" = #{SPREAD2},
		</if>
		<if test="SPREAD3 != null">
			"SPREAD3" = #{SPREAD3},
		</if>
		<if test="SPREAD4 != null">
			"SPREAD4" = #{SPREAD4},
		</if>
		<if test="SPREAD5 != null">
			"SPREAD5" = #{SPREAD5},
		</if>
		<if test="IMAGE_URL_LIST != null">
			"IMAGE_URL_LIST" = #{IMAGE_URL_LIST},
		</if>
		<if test="TITLE != null">
			"TITLE" = #{TITLE},
		</if>
		<if test="SORTING != null">
			"SORTING" = #{SORTING},
		</if>
		<if test="REMARKS != null and REMARKS != ''">
			"REMARKS" =	#{REMARKS},
		</if>
		
		"GOODS_ID" =  #{GOODS_ID}
		where
		"GOODS_ID" = #{GOODS_ID}
	</update>


	<resultMap type="com.fh.util.PageData" id="resultjcm">
		<result property="DETAIL" column="DETAIL" jdbcType="CLOB"
			javaType="java.lang.String" typeHandler="com.fh.util.OracleClobTypeHandler" />
		<!-- <result property="CATEGORY" column="CATEGORY" jdbcType="CLOB" javaType 
			= "java.lang.String" typeHandler ="com.fh.util.OracleClobTypeHandler" /> -->
	</resultMap>



<!-- 通过商品Id和关联类型，查询出关联的商品 -->
<select id="findTjspById" parameterType="List" resultMap="resultjcm">
	SELECT
		"CODE",
		"TITLE",
		"SHORT_TITLE",
		"SORTING",
		"PRICE",
		"CATEGORY",
		"REMARKS",
		"IMAGE_URL_LIST",
		"GOODS_ID"
	FROM
		OLO_PD_PRODUCT opp
	WHERE
		OPP.GOODS_ID IN (
			SELECT
				O_ID2
			FROM
				OLO_PD_AB_RELATION
			WHERE
				"TYPE" ='7'
			AND O_ID1 = #{GOODS_ID}
		)
		ORDER BY "SORTING"
	
</select>
	<!-- 通过GOODS_ID获取数据 -->
	<select id="findById" parameterType="pd" resultMap="resultjcm">
		select
		"SHORT_TITLE",
		"SUB_TITLE",
		"LABEL",
		"BRAND_NAME",
		"DIMENSION",
		"CODE",
		"COMPANY" ,
		"FLOOR_PRICE",
		"PRICE",
		"COLOUR",
		"STORE",
		"CATEGORY",
		"SUGGEST_PRICE",
		"IMAGE_URL",
		"STORAGE",
		"LAST_DATE",
		"EFFECTIVE_TIME",
		"SEALED",
		"DETAIL",
		to_char(	CREATE_TIME,'yyyy-mm-dd hh24:mi:ss') CREATE_TIME ,
		"CREATION_PEOPLE_ID",
		to_char(	UPDATE_TIME,'yyyy-mm-dd hh24:mi:ss') UPDATE_TIME ,
		"UPDATE_PEOPLE_ID",
		"SPREAD1",
		"SPREAD2",
		"SPREAD3",
		"SPREAD4",
		"SPREAD5",
		"IMAGE_URL_LIST",
		"TITLE",
		"SORTING",
		"REMARKS",
		"GOODS_ID"
		from
		"OLO_PD_PRODUCT"
		where
		1=1
		<if test="CODE!=null and CODE!=''">
			and CODE = #{CODE}
		</if>
		<if test="GOODS_ID!=null and GOODS_ID!=''">
			and "GOODS_ID" = #{GOODS_ID}
		</if>
	</select>
	<!-- 通过GOODS_ID获取数据 -->
	<select id="findImgsById" parameterType="pd" resultMap="resultjcm">
		SELECT
		"SRC",
		"SORTING",
		"LOCATION",
		"SEALED",
		 to_char(	CREATE_TIME,'yyyy-mm-dd hh24:mi:ss') CREATE_TIME ,
		"CREATION_PEOPLE_ID",
		"SPREAD1",
		"SPREAD2",
		"ID"
		from OLO_PD_CAROUSEL where ID in
		(SELECT O_ID2 from OLO_PD_AB_RELATION where
		O_ID1=#{GOODS_ID} AND TYPE =1) ORDER BY "LOCATION"  , "SORTING"
		
		
	</select>
	<!-- 通过GOODS_ID获取数据 -->
	<select id="findByCode" parameterType="List" resultMap="resultjcm">
		select
		"CODE",
		"TITLE",
		"SORTING",
		"REMARKS",
		"GOODS_ID"
		from
		"OLO_PD_PRODUCT"
		where
		1=1
		AND
		CODE in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
		<!-- 通过GOODS_ID获取数据 -->
	<select id="findByCodes" parameterType="List" resultMap="resultjcm">
		select
		"CODE",
		"TITLE",
		"SORTING",
		"REMARKS",
		"GOODS_ID"
		from
		"OLO_PD_PRODUCT"
		where
		1=1
		AND
		CODE in
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item.CODE}
		</foreach>
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultMap="resultjcm">
		select
		a."SHORT_TITLE",
		a."SUB_TITLE",
		a."BRAND_NAME",
		a."LABEL",
		a."DIMENSION",
		a."CODE",
		a."FLOOR_PRICE",
		a."PRICE",
		a."COLOUR",
		a."COMPANY" ,
		a."STORE",
		a."CATEGORY",
		a."SUGGEST_PRICE",
		a."IMAGE_URL",
		a."STORAGE",
		a."LAST_DATE",
		a."EFFECTIVE_TIME",
		a."SEALED",
		to_char(	A.CREATE_TIME,'yyyy-mm-dd hh24:mi:ss') CREATE_TIME ,
		a."CREATION_PEOPLE_ID",
		to_char(	A.UPDATE_TIME,'yyyy-mm-dd hh24:mi:ss') UPDATE_TIME  ,
		a."UPDATE_PEOPLE_ID",
		a."SPREAD1",
		a."SPREAD2",
		a."SPREAD3",
		a."SPREAD4",
		a."SPREAD5",
		a."IMAGE_URL_LIST",
		a."REMARKS",
		a."TITLE",
		a."SORTING",
		a."GOODS_ID"
		from
		"OLO_PD_PRODUCT" a

		where 1=1
		<if test="pd.key!=null and pd.key!=''">
			and (a.CODE like CONCAT(CONCAT('%',#{pd.key}),'%')
			or a.TITLE like CONCAT(CONCAT('%',#{pd.key}),'%')
			or a.SUB_TITLE like CONCAT(CONCAT('%',#{pd.key}),'%')
			or a.CATEGORY like CONCAT(CONCAT('%',#{pd.key}),'%')
			)
		</if>
		<if test="pd.CODE!=null and pd.CODE!=''">
			and a.CODE like CONCAT(CONCAT('%',#{pd.CODE}),'%')
		</if>
		<if test="pd.TITLE!=null and pd.TITLE!=''">
			and a.TITLE like CONCAT(CONCAT('%',#{pd.TITLE}),'%')
		</if>
		<if test="pd.SUB_TITLE!=null and pd.SUB_TITLE!=''">
			and a.SUB_TITLE like CONCAT(CONCAT('%',#{pd.SUB_TITLE}),'%')
		</if>
		<if test="pd.classify!=null">
			and
			GOODS_ID IN (
			SELECT GOODS_ID from (SELECT GOODS_ID,wm_concat(T_ID) T_ID from
			OLO_PD_MENU_PRODUCT GROUP BY GOODS_ID) opmp
			WHERE
			<foreach item="item" index="index" collection="pd.classify" separator="OR">
				opmp.T_ID  LIKE     CONCAT(CONCAT('%','${item}'),'%')  
			</foreach>
			)
		</if>
		<if test="pd.SEALED!=null and pd.SEALED!=''">
			and a.SEALED = #{pd.SEALED}
		</if>
	</select>

	<!-- 列表 -->
	<select id="findlist" parameterType="pd" resultMap="resultjcm">
		select
		DISTINCT
		a."SHORT_TITLE",
		a."SUB_TITLE",
		a."LABEL",
		sysDic.NAME LABELName,
		sysDic.PATH LABELPath,
		a."DIMENSION",
		a."CODE",
		a."FLOOR_PRICE",
		a."PRICE",
		a."COLOUR",
		a."COMPANY" ,
		a."STORE",
		a."CATEGORY",
		a."STORAGE",
		a."LAST_DATE",
		a."EFFECTIVE_TIME",
		a."SEALED",
		a."TITLE",
		a."REMARKS",
		a."IMAGE_URL_LIST",
		a."SORTING",
		a."GOODS_ID"
		from
		"OLO_PD_PRODUCT" a
		LEFT JOIN OLO_PD_MENU_PRODUCT opmp ON opmp.GOODS_ID = a.GOODS_ID
		LEFT JOIN  SYS_DICTIONARIES  sysDic on sysDic.ZD_ID =  a.LABEL
		where 1=1

		<if test="key!=null and key!=''">
			and (a.CODE like CONCAT(CONCAT('%',#{key}),'%')
			or a.TITLE like CONCAT(CONCAT('%',#{key}),'%')
			or a.SUB_TITLE like CONCAT(CONCAT('%',#{key}),'%')
			)
		</if>
		<if test="CODE!=null and CODE!=''">
			and a.CODE like CONCAT(CONCAT('%',#{CODE}),'%')
		</if>
		<if test="TITLE!=null and TITLE!=''">
			and a.TITLE like CONCAT(CONCAT('%',#{TITLE}),'%')
		</if>
		<if test="SUB_TITLE!=null and SUB_TITLE!=''">
			and a.SUB_TITLE like CONCAT(CONCAT('%',#{SUB_TITLE}),'%')
		</if>
		<if test="classify!=null">
			and
			OPMP.T_ID
			in
			<foreach collection="classify" item="item" index="index"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="SEALED!=null and SEALED!=''">
			and a.SEALED = #{SEALED}
		</if>
		and EFFECTIVE_TIME &lt; trunc(sysdate, 'mi')
		
		<if test="sort !=null and sort !=''">
				ORDER BY  ${sort}
		</if>
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultMap="resultjcm">
		select
		a."SHORT_TITLE",
		a."SUB_TITLE",
		a."BRAND_NAME",
		a."LABEL",
		a."DIMENSION",
		a."CODE",
		a."COMPANY" ,
		a."FLOOR_PRICE",
		a."PRICE",
		a."COLOUR",
		a."STORE",
		a."CATEGORY",
		a."SUGGEST_PRICE",
		a."IMAGE_URL",
		a."STORAGE",
		a."LAST_DATE",
		a."EFFECTIVE_TIME",
		a."SEALED",
		a."CREATE_TIME",
		a."CREATION_PEOPLE_ID",
		a."UPDATE_TIME",
		a."UPDATE_PEOPLE_ID",
		a."SPREAD1",
		a."SPREAD2",
		a."SPREAD3",
		a."SPREAD4",
		a."SPREAD5",
		a."TITLE",
		a."REMARKS",
		a."IMAGE_URL_LIST",
		a."SORTING",
		a."GOODS_ID"
		from
		"OLO_PD_PRODUCT" a

		<if test="key!=null and key!=''">
			and (a.CODE like CONCAT(CONCAT('%',#{key}),'%')
			or a.TITLE like CONCAT(CONCAT('%',#{key}),'%')
			or a.SUB_TITLE like CONCAT(CONCAT('%',#{key}),'%')
			)
		</if>
		<if test="CODE!=null and CODE!=''">
			and a.CODE like CONCAT(CONCAT('%',#{CODE}),'%')
		</if>
		<if test="TITLE!=null and TITLE!=''">
			and a.TITLE like CONCAT(CONCAT('%',#{TITLE}),'%')
		</if>
		<if test="SUB_TITLE!=null and SUB_TITLE!=''">
			and a.SUB_TITLE like CONCAT(CONCAT('%',#{SUB_TITLE}),'%')
		</if>
		<if test="classify!=null">
			and
			GOODS_ID IN (

			SELECT GOODS_ID from (SELECT GOODS_ID,wm_concat(T_ID) T_ID from
			OLO_PD_MENU_PRODUCT GROUP BY GOODS_ID) opmp
			WHERE
			opmp.T_ID like replace(CONCAT(CONCAT('%', '
			<foreach item="item" index="index" collection="classify"
				open="" separator="," close="">${item}</foreach>
			'),'%'),' ','')
			)
		</if>
		<if test="SEALED!=null and SEALED!=''">
			and a.SEALED = #{SEALED}
		</if>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from "OLO_PD_PRODUCT"
		where
		"GOODS_ID" in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>