<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- 
        表达式 意义 
        "0 0 12 * * ?" 每天中午12点触发 
        "0 15 10 ? * *" 每天上午10:15触发 
        "0 15 10 * * ?" 每天上午10:15触发 
        "0 15 10 * * ? *" 每天上午10:15触发 
        "0 15 10 * * ? 2005" 2005年的每天上午10:15触发 
        "0 * 14 * * ?" 在每天下午2点到下午2:59期间的每1分钟触发 
        "0 0/5 14 * * ?" 在每天下午2点到下午2:55期间的每5分钟触发 
        "0 0/5 14,18 * * ?" 在每天下午2点到2:55期间和下午6点到6:55期间的每5分钟触发 
        "0 0-5 14 * * ?" 在每天下午2点到下午2:05期间的每1分钟触发 
        "0 10,44 14 ? 3 WED" 每年三月的星期三的下午2:10和2:44触发 
        "0 15 10 ? * MON-FRI" 周一至周五的上午10:15触发 
        "0 15 10 15 * ?" 每月15日上午10:15触发 
        "0 15 10 L * ?" 每月最后一日的上午10:15触发 
        "0 15 10 ? * 6L" 每月的最后一个星期五上午10:15触发 
        "0 15 10 ? * 6L 2002-2005" 2002年至2005年的每月的最后一个星期五上午10:15触发 
        "0 15 10 ? * 6#3" 每月的第三个星期五上午10:15触发 
      -->
    
	<!-- 定时更新新闻 -->
	<bean id="npInformationSubjectdJob" class="com.fh.job.NpInformationSubjectdJob">          
    </bean>
	<!-- 验证码到期提醒job -->
    <bean id="npInformationSubjectdJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
         <!-- 调用的类  -->  
        <property name="targetObject" ref="npInformationSubjectdJob" />  
        <!-- 调用类中的方法  -->  
        <property name="targetMethod" value="execute" />  
        <!-- 是否并发  -->  
        <property name ="concurrent" value ="false"  />    
    </bean>
    <!-- 验证码到期提醒job触发器 执行时间 -->
    <bean id="npInformationSubjectdJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
      
         <property name="jobDetail" ref="npInformationSubjectdJobDetail" />  
        <!-- cron表达式  -->  
        <property name="cronExpression" value="0 0/30 * * * ?" /> 
       <!--  <property name="jobDetail">
            <ref local="npInformationSubjectdJobDetail" />
        </property>
        通过暴露出的cronExpression属性，输入cron expression
        <property name="cronExpression">
            每天的凌晨0点30分执行
            <value>0 30 0 * * ?</value> 
			<value>0/30 * * * * ?</value> 
        </property> -->
    </bean>
    
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">     
		<property name="triggers">         
		    <list>
		    	<!-- 定期更新表视图 -->
		    	<ref local="npInformationSubjectdJobTrigger" />
		    	
		    </list>     
		</property> 
	</bean>
</beans>