<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OlopdorderMapper">
	
	
	<!-- 新增-->
	<insert ORDER_ID="save" parameterType="pd">
		insert into OLO_PD_ORDER(
			STATE,	
			SEALED,	
			CREATE_TIME,	
			USER_ID,	
			CREATION_PEOPLE_ID,	
			UPDATE_TIME,	
			UPDATE_PEOPLE_ID,	
			SPREAD1,	
			SPREAD2,	
			SPREAD3,	
			SPREAD4,	
			SPREAD5,	
			ORDER_ID
		) values (
			#{STATE},	
			#{SEALED},	
			#{CREATE_TIME},	
			#{USER_ID},	
			#{CREATION_PEOPLE_ID},	
			#{UPDATE_TIME},	
			#{UPDATE_PEOPLE_ID},	
			#{SPREAD1},	
			#{SPREAD2},	
			#{SPREAD3},	
			#{SPREAD4},	
			#{SPREAD5},	
			#{ORDER_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete ORDER_ID="delete" parameterType="pd">
		delete from OLO_PD_ORDER
		where 
			ORDER_ID = #{ORDER_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update ORDER_ID="edit" parameterType="pd">
		update  OLO_PD_ORDER
			set 
				STATE = #{STATE},
				SEALED = #{SEALED},
				CREATE_TIME = #{CREATE_TIME},
				USER_ID = #{USER_ID},
				CREATION_PEOPLE_ID = #{CREATION_PEOPLE_ID},
				UPDATE_TIME = #{UPDATE_TIME},
				UPDATE_PEOPLE_ID = #{UPDATE_PEOPLE_ID},
				SPREAD1 = #{SPREAD1},
				SPREAD2 = #{SPREAD2},
				SPREAD3 = #{SPREAD3},
				SPREAD4 = #{SPREAD4},
				SPREAD5 = #{SPREAD5},
			ORDER_ID = ORDER_ID
			where 
				ORDER_ID = #{ORDER_ID}
	</update>
	
	
	<!-- 通过ORDER_ID获取数据 -->
	<select ORDER_ID="findByORDER_ID" parameterType="pd" resultType="pd">
		select 
			STATE,	
			SEALED,	
			CREATE_TIME,	
			USER_ID,	
			CREATION_PEOPLE_ID,	
			UPDATE_TIME,	
			UPDATE_PEOPLE_ID,	
			SPREAD1,	
			SPREAD2,	
			SPREAD3,	
			SPREAD4,	
			SPREAD5,	
			ORDER_ID
		from 
			OLO_PD_ORDER
		where 
			ORDER_ID = #{ORDER_ID}
	</select>
	
	
	<!-- 列表 -->
	<select ORDER_ID="datalistPage" parameterType="page" resultType="pd">
		select
				a.STATE,	
				a.SEALED,	
				a.CREATE_TIME,	
				a.USER_ID,	
				a.CREATION_PEOPLE_ID,	
				a.UPDATE_TIME,	
				a.UPDATE_PEOPLE_ID,	
				a.SPREAD1,	
				a.SPREAD2,	
				a.SPREAD3,	
				a.SPREAD4,	
				a.SPREAD5,	
				a.ORDER_ID
		from 
				OLO_PD_ORDER a
	</select>
	
	<!-- 列表(全部) -->
	<select ORDER_ID="listAll" parameterType="pd" resultType="pd">
		select
				a.STATE,	
				a.SEALED,	
				a.CREATE_TIME,	
				a.USER_ID,	
				a.CREATION_PEOPLE_ID,	
				a.UPDATE_TIME,	
				a.UPDATE_PEOPLE_ID,	
				a.SPREAD1,	
				a.SPREAD2,	
				a.SPREAD3,	
				a.SPREAD4,	
				a.SPREAD5,	
				a.ORDER_ID
		from 
				OLO_PD_ORDER a
	</select>
	
	<!-- 批量删除 -->
	<delete ORDER_ID="deleteAll" parameterType="String">
		delete from OLO_PD_ORDER
		where 
			ORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>